# List
In Python, a list is a dynamic, ordered, and mutable collection that can store mixed types of items, including duplicates and other lists. You can modify, replace, or delete elements. Items are accessed using indexes starting from 0.

### Example

In [4]:
# Creating a Python list with different data types
a = [10,20,"aasha", 50, True]

print(a)
# Accessing element using indexing
print(a[0])
print(a[1])
print(a[2])
print(a[3])

# checking types of element
print(type(a[2]))
print(type(a[4]))
print(type(a[0]))

[10, 20, 'aasha', 50, True]
10
20
aasha
50
<class 'str'>
<class 'bool'>
<class 'int'>

# Create a List
Here are some common methodes to create a list:

### Using Square Brackets

In [5]:
# List of integers
a =[1,2,3,4,5,6]

# List of String
b = ['apple', 'banana', 'cherry']

# Mixed data types
c=[1, "Hello", 3.45, True]

print(a)
print(b)
print(c)

[1, 2, 3, 4, 5, 6]
['apple', 'banana', 'cherry']
[1, 'Hello', 3.45, True]

# Using list() Constructure
We can also create a list by passing an iterable (like a string, tuple or another list) to list() function.

In [7]:
#  from a tuple
a = list((1,2,3,'apple', 4,5, True))
print(a)

[1, 2, 3, 'apple', 4, 5, True]

## Creating List with Repeated Element 
We can create a list with repeated elements using the multiplication operator.

In [9]:
# Create a list [2, 2, 2, 2, 2]
a = [2]*5

# Create a list [0, 0, 0, 0, 0, 0, 0]
b = [0] * 7

print(a)
print(b)

[2, 2, 2, 2, 2]
[0, 0, 0, 0, 0, 0, 0]

# Accessing List Element
List elements are accessed using indexing. Index starts at 0 (e.g., a[0] is the first item). Negative indexing starts from the end (e.g., a[-1] is the last item).

In [11]:
a = [100, 10, 35, 48, 55]

# Access first element
print(a[0])    

# Access last element
print(a[-1])

100
55

# Adding Elements into List
We can add elements to a list using the following methods:

* append(): Add an element at the end of the list.
* extend(): Add multiple element to the end of the list.
* insert(): Add an element at a specific position.

In [21]:
# Initialize an empty list
a = []

# Adding 10 to end of list
a.append(10)
print("Using appand:", a)

# Adding 4 at index 0
a.insert(1,4)
print("Using insert:", a)

# Adding multiple elements  [15, 20, 25] at the end
a.extend([14, 24, 44])  
print("After extend:", a)

Using appand: [10]
Using insert: [10, 4]
After extend: [10, 4, 14, 24, 44]

## Updating Elements into List
We can change the value of an element by accessing it using its index.

In [23]:
a = [10,20,40,50,60]

# Changr the second element
a[1] = 25

print(a)

[10, 25, 40, 50, 60]

# Removing Element from List
We can remove elements from a list using:

* remove(): Remove the first occurrency of an element
* pop(): Removes the element at a specific index or the last element if no index is specified.
* del statements:  Deletes an element at a specified index.

In [28]:
a = [10,40,50,60,70]

# Remove the first occurrence of 30
a.remove(50)
print("Remove(50):", a)

# Removes the element at index 1 (20)
popped_val = a.pop(1)  
print("Popped element:", popped_val)
print("After pop(1):", a) 

# Deletes the first element (10)
del a[0]  
print("After del a[0]:", a)

Remove(50): [10, 40, 60, 70]
Popped element: 40
After pop(1): [10, 60, 70]
After del a[0]: [60, 70]

# Iterating Over Lists
Lists can be easily iterated using a for loop to perform actions on each item.

In [29]:
a = ['mango', 'apple', 'charry']

# iterating over the list
for item in a:
    print(item)

mango
apple
charry

# Nested Lists in Python
A nested list is a list within another list, which is useful for representing matrices or tables. We can access nested elements by chaining indexes.

In [30]:
matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]

# Access element at row 2, column 3
print(matrix[1][2])

6

# example of python

In [31]:
li = ['Harsh', 'Pratik', 'Bob', 'Dhruv'] 
print (li[1][-1])

k

In [32]:
li = [1, 2, 3, 4] 
li.append([5,6,7,8]) 
print(li)

[1, 2, 3, 4, [5, 6, 7, 8]]

In [33]:
def addToList(a): 
	a += [10] 
b = [10, 20, 30, 40] 
addToList(b) 
print (len(b))

5

In [35]:
a = ['Learn', 'Quiz', 'Practice', 'Contribute'] 
b = a 
c = a[:] 

b[0] = 'Code'
c[1] = 'Mcq'

count = 0
for c in (a, b, c): 
	if c[0] == 'Code': 
		count += 1
	if c[1] == 'Mcq': 
		count += 10

print (count)

12

In [34]:
nameList = ['Harsh', 'Pratik', 'Bob', 'Dhruv'] 

pos = nameList.index("GeeksforGeeks") 

print (pos * 3)

ValueError: 'GeeksforGeeks' is not in list

# Create list of number with given range

In [39]:
for i in range(0,9):
    
    print(i)

0
1
2
3
4
5
6
7
8