# Python Formatting

In [2]:
a = "Seema"
a

'Seema'

In [3]:
ad = "I am learning python again"

print(f" hi {ad} and my name is {a}")

 hi I am learning python again and my name is Seema

# Python String
A string is a sequence of characters. Python treats anything inside quotes as a string. This includes letters, numbers, and symbols. Python has no character data type so single character is a string of length 1.

In [1]:
s ="GfG"

print(s[1]) # access the 2nd char
s1 = s+s[0] #update
print(s1)

f
GfGG

# Creating a String
Strings can be created using either single `(‘)` or `double (“)` quotes.

In [2]:
s1 = "GfG"
s2 = 'GFg'

print(s1)
print(s2)

GfG
GFg

In [6]:
name = input("Enter the name of person")

#result = name.find(" ")
result = name.rfind(" ")
print(result)

Enter the name of person seema as

5

# Multi-line Strings
If we need a string to span multiple lines then we can use `triple quotes (”’ or “””)`.

In [4]:
s = """ I am Learning
Python String on w3School"""
print(s)

 I am Learning
Python String on w3School

NOTE: For this course we'll maintain consistency by using ' single quotes for strings

If we didn't put quotes around the string it will pass error.

# Accessing characters in Python String
Strings in Python are sequences of characters, so we can access individual characters using indexing. Strings are indexed starting from 0 and -1 from end. This allows us to retrieve specific characters from the string.

In [5]:
s ="seema Adhikari"

# Accessing first character: 's'
print(s[0])

# Accessing 5th character:
print(s[4])

s
a

# String Methods
Python provides a variety of built-in string methods that you can use to perform operations on strings. Some common string methods include `lower()`, `upper()`, `strip()`, `replace()`, and `split()`. Here are some examples:

In [3]:
skill = "Python"
type(skill)

str

In [4]:
skill.upper()

'PYTHON'

In [5]:
skill.lower()

'python'

In [14]:
x = "        hello world   "
x

'        hello world   '

In [15]:
x.split()

['hello', 'world']

# Postional Arguments

something methods take arguments:

In [7]:
skill.replace("P", "j")

'jython'

# Keyword Arguments

In [8]:
job_title = "Data Analyst"
job_title.split(sep=" ", maxsplit = 1)

['Data', 'Analyst']

In [10]:
str.__add__("Data", "Analyst")

'DataAnalyst'

In [12]:
"Data".__add__("Analyst")

'DataAnalyst'


Dunder methods are sometimes overridden by operators; such as in this case `+`

In [13]:
"Data" + "Analyst"

'DataAnalyst'

# String indexing
You can access individual characters in a string using indexing. In Python, indexing starts at 0. Here are some examples:

In [16]:
x = "Seema Adhikari"
x[0]

'S'

In [18]:
x[3:7]

'ma A'

# String slicing
You can also access a range of characters in a string using slicing. Slicing uses the syntax `start:stop:step`, where `start` is the index of the first character you want to include, `stop/end` is the index of the first character you want to exclude, and `step` is the number of characters to skip. Here are some examples:

In [9]:
y = "Mynameis seema adhikari"
print(y[0:9:3])

print(y[:3])

print(y[3:])

print(y[::-1])

Mai
Myn
ameis seema adhikari
irakihda amees siemanyM

In [21]:
credit_number = "123-2345-56-67"

#print(credit_number[3:11:2])
print(credit_number[3:11:-2])

In [22]:
credit_number = "123-2345-56-67"

print(credit_number[3:11:2])
#print(credit_number[3:11:-2])

-355

In [23]:
credit_number = "123-2345-56-67"

#print(credit_number[3:11:2])
print(credit_number[-3:11:])

In [26]:
credit_number = "123-2345-56-67"


print(credit_number[-3:-7:])

In [28]:
credit_number = "123-2345-56-67"


print(credit_number[-7:-3:])

5-56

In [31]:
credit_number = "123-2345-56-67"


print(credit_number[1:-6:])

23-2345

# String Immutability
Strings in Python are immutable. This means that they cannot be changed after they are created. If we need to manipulate strings then we can use methods like concatenation, slicing, or formatting to create new strings based on the original.

In [15]:
s = "seemaforseema"
p = "S" +  s[1:]
print(p)
print(s)

Seemaforseema
seemaforseema

# Deleting a String
In Python, it is not possible to delete individual characters from a string since strings are immutable. However, we can delete an entire string variable using the `del` keyword.

In [12]:
s = "SeemaAdhikari"

# Deletes entire string
del s

# Updating a String
To update a part of a string we need to create a new string since strings are immutable.

In [14]:
s = "hello geeks"

# Updating by creating a new string
s1 = "H" + s[1:]

# Replace "geeks" with "Seema Adhikari"
s2 = s.replace("geeks", "Seema Adhikari")
print(s1)
print(s2)

Hello geeks
hello Seema Adhikari

## Common String Methods
Python provides a various built-in methods to manipulate strings. Below are some of the most useful methods.

lan(): the len() funcation return the total number of characters in a string.

In [15]:
s = "SeemaAdhikari"
print(len(s))

13

`upper() and lower()`: `upper()` method converts all characters to uppercase. `lower()` method converts all characters to lowercase.

In [16]:
s = "Hello World"
print(s.upper())

print(s.lower())

HELLO WORLD
hello world

strip() and replace(): `strip()` removes leading and trailing whitespace from the string and `replace(old, new)` replaces all occurrences of a specified substring with another.

In [8]:
s = " Seema   hi"

# Remove spaces from both ends
print(s.strip())

s = "Python is fun"

# Replace 'fun' with 'awesome'
print(s.replace("fun", "awesome"))

Seema   hi
Python is awesome

## Concatenating and Repeating Strings
We can concatenate string using `+operator` and repeat thm using `* operator`

In [25]:
# Strings can be combined by using + operator.
s1 = "Hello "
s2 = "World"
s3 = s1 + "" + s2
print(s3)

Hello World

In [24]:
# We can repeat a string multiple times using * operator.
print(s1 * 3)

Hello Hello Hello

# String Formatting

You can use string formatting to insert variables or expressions into a string. There are several ways to format strings in Python, including using % operator, .format() and f-strings. Here are some examples:


# Types
## Concatenation `+`
Concatenation involves combining strings with the `+` operator.
It's straightforward but not as flexible as other methods for complex formatting.

In [21]:
role = 'Data analyst'
skill = "python"

In [22]:
'Role:' + role

'Role:Data analyst'

<b>Notes:</b> For all examples we are going to omit the `print()` function for ease of readability
e.g. `print('Role: ' + role)`

## %-formating(Not preferred)
%-formatting is an older method where `%` symbols serve as placeholders for variables.

In [23]:
'role: %s, skill required: %s' %(role, skill)

'role: Data analyst, skill required: python'

<b>NOTE:</b> This is the last time you'll see us use this option as it's hard to read IMO (in my opinion)

## f-string(Formatted string Literals - Preferred)
Use f-strings by prefixing a string with `f` and placing variables or expressions in `{}` braces directly within the string.
They are both concise and efficient.

In [24]:
f'Role: {role}, skill required: {skill}'

'Role: Data analyst, skill required: python'

# str.format()
The `str.format()` method uses curly braces `{}` as placeholders. It's more flexible than %-formatting and allows for reordering and reuse of arguments.

In [25]:
'role: {}, skill required:{}'.format(role, skill)

'role: Data analyst, skill required:python'

Or you can refer to your variable substitutions similar to f-strings... I still prefer f-strings tho.

In [27]:
"Role: {role}, skill requiredment is {skill}".format( role="Data Nerd" , skill="sql")

'Role: Data Nerd, skill requiredment is sql'

# Using join()
The join() method is useful for concatenating iterable items (e.g., strings, lists) into a single string, often separated by a specified character.

In [28]:
work_exp = "10456543"
','.join(work_exp)

'1,0,4,5,6,5,4,3'

This is more commonly used when you have a list of items to concatenate.

In [29]:
skill = ['python', "SQL"]
'Role: '+ role +',skill required:'+',' .join(skill)

'Role: Data analyst,skill required:python,SQL'

In [8]:
number = (input("enter the number: "))

phone_number = number.replace("-", " ")

print(phone_number)

enter the number:  22-23-455-655-0

22 23 455 655 0

In [13]:
name = (input("enter the number: "))

person_name= name.upper()

print(person_name)

enter the number:  ccvghjk

CCVGHJK

# Formate Specifires
 = {value:flags} formate a value based on what flags are inserted

1. :<	=	Left aligns the result (within the available space)
2. :>		Right aligns the result (within the available space)
3. :^		Center aligns the result (within the available space)
4. :=		Places the sign to the left most position
5. :+		Use a plus sign to indicate if the result is positive or negative
6. :-		Use a minus sign for negative values only
7. : 		Use a space to insert an extra space before positive numbers (and a minus sign before negative          numbers)
8. :,		Use a comma as a thousand separator
9. :_		Use a underscore as a thousand separator
10. :b		Binary format
11. :c		Converts the value into the corresponding unicode character
12. :d		Decimal format
13. :e		Scientific format, with a lower case e
14. :E		Scientific format, with an upper case E
15. :f		Fix point number format
16. :F		Fix point number format, in uppercase format (show inf and nan as INF and NAN)
17. :g		General format
18. :G		General format (using a upper case E for scientific notations)
19. :o		Octal format
20. :x		Hex format, lower case
21. :X		Hex format, upper case
22. :n		Number format
23. :%		Percentage format

In [36]:
price1 = 3.12345
price2 = -98.23
price3= 12.66

print(f"price 1 is {price1:.2f}")
print(f"price 2 is {price2:.2f}")
print(f"price 3 is {price3:.2f}")

price 1 is 3.12
price 2 is -98.23
price 3 is 12.66