### Data Structure and Sequences
* Tuple ()
* List []
* Dictionary {}

## Tuple
 A tuple is a fixed-length, immutable sequence of Python objects which, once assigned, cannot be changed.

In [2]:
tup =(4, 5, 6)
tup

(4, 5, 6)

In [3]:
tuple([4, 0, 2])
(4, 0, 2)
tup =tuple('string')
tup

('s', 't', 'r', 'i', 'n', 'g')

In [5]:
tup[0:4]

('s', 't', 'r', 'i')

 When you’re defining tuples within more complicated expressions, it’s often neces
sary to enclose the values in parentheses, as in this example of creating a tuple of
 tuples:

In [6]:
nested_tup = (4,5, 6), (7,8)
nested_tup

((4, 5, 6), (7, 8))

In [8]:
nested_tup[0]

(4, 5, 6)

In [9]:
nested_tup[1]

(7, 8)

### Tuples Are Immutable: 
* Once a tuple is created, you cannot change the objects (or values) stored in its specific positions (or "slots").
* For example, if you have a tuple t = (1, 2, 3), you cannot do something like t[0] = 4. This will raise an error.

In [10]:
t =[1,2,3]
t

[1, 2, 3]

In [11]:
t[0] = 4 # it cannot change or modify the list inside tuple.

In [14]:
# to modify the list
t = ([1,2,3],"hello",42)
t[0].append(4)
t

([1, 2, 3, 4], 'hello', 42)

In [19]:
tup = tuple(['foo', [1,2] , True])
tup[1].append(3)
tup

('foo', [1, 2, 3], True)

You can concatenate tuples using the + operator to produce longer tuples:

In [21]:
(1,None, 'foo') + (6,8) + ('bar',)

(1, None, 'foo', 6, 8, 'bar')

 Multiplying a tuple by an integer, as with lists, has the effect of concatenating that
 many copies of the tuple:

In [24]:
tupp=('foo', 'bar')*4
tupp

('foo', 'bar', 'foo', 'bar', 'foo', 'bar', 'foo', 'bar')

# Unpacking tuples
 If you try to assign to a tuple-like expression of variables, Python will attempt to
 unpack the value on the righthand side of the equals sign:

In [26]:
tup = (4,5,6)
a, b, c =tup
b
c

6

 A common use of variable unpacking is iterating over sequences of tuples or lists:

In [27]:
seq =[(1,2,3),(4,5,6), (7,8,9)]
for a,b,c in seq:
    print(f"a={a}, b={b}, c={c}")

a=1, b=2, c=3
a=4, b=5, c=6
a=7, b=8, c=9

# Tuple Methods
the size and contents of a tuple cannot be modified, it is very light on instance
 methods.

In [28]:
a =(1,2,3,2,2,3,4,2)
a.count(2)

4

# List
lists are variable length and their contents can be modified in
 place.

In [29]:
a_list = [2,3,7,None]
tup = ('foo', 'bar', 'baz')
b_list = list(tup)
b_list

['foo', 'bar', 'baz']

In [30]:
b_list[1] = "pookoda"
b_list

['foo', 'pookoda', 'baz']

The list built-in function is frequently used in data processing as a way to material
ize an iterator or generator expression:

In [34]:
gen = range(22)
gen
range(0, 22)
list(gen)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21]

# Adding and removing elements

Elements can be appended to the end of the list with the append method:

In [39]:
b_list = ['foo', 'bar', 'baz']
b_list
b_list.append('dwarf')
b_list

['foo', 'bar', 'baz', 'dwarf']

 Using insert you can insert an element at a specific location in the list:

In [40]:
b_list.insert(1, 'red')
b_list

['foo', 'red', 'bar', 'baz', 'dwarf']

 The inverse operation to insert is pop, which removes and returns an element at a
 particular index:

In [41]:
b_list.pop(2)
b_list

['foo', 'red', 'baz', 'dwarf']

To check the value is exite or not

In [42]:
"red" in b_list

True

In [43]:
# The keyword not can be used to negate in
"red" not in b_list

False

### Concatenating and combining lists

In [44]:
[4, None, 'foo'] + [7,8,9,(5,6)]

[4, None, 'foo', 7, 8, 9, (5, 6)]

If you have a list alrady defined, you can appand multiple element to it using the extand method.

In [47]:
x = [4, None, "foo"]
x.extend([7,8,(2,3)])
x

[4, None, 'foo', 7, 8, (2, 3)]

List Extension with extend:
* The extend method adds elements directly to an existing list, avoiding the need to create a new list each time.
* This makes it faster and more efficient, especially when dealing with large lists.

In [49]:
everything =[1,2,34,5]
for chunk in everything:
    everything.extend(chunk)

TypeError: 'int' object is not iterable

# Sorting
 You can sort a list in place (without creating a new object) by calling its sort
 function:

In [80]:
a =[7,2,9,0,5,4,6,1]

In [83]:
a.index(4)

5

In [81]:
a.count(1)

1

In [79]:
a.sort()
a

[0, 1, 2, 4, 5, 6, 7, 9]

In [75]:
a.sort(reverse=True)

[9, 7, 6, 5, 4, 2, 1, 0]

In [55]:
b =['saw', 'apple', 'he', 'fox', 'six']
b.sort()
b

['apple', 'fox', 'he', 'saw', 'six']

In [58]:

b.sort(key=len)
b

['he', 'saw', 'fox', 'six', 'apple']

# Slicing
 You can select sections of most sequence types by using slice notation, which in its
 basic form consists of start:stop passed to the indexing operator []:

In [59]:
seq = [1,2,3,4,5,6,67,7,8,9,0]
seq[0:5]

[1, 2, 3, 4, 5]

In [60]:
seq[1:8:2]

[2, 4, 6, 7]

# Dictionary(dict)
* A dictionary stores data as key-value pairs.
* You can quickly access, add, or change values using their keys.
* Create dictionaries with {key: value} format.

Some commonly used methods in Python dictionaries are `keys()`, `values()`, `items()`, `pop()`, `copy()`, `clear()`.

In [61]:
empty_dict={}
d1 = {"a":"some value", "b":[1,2,3,4]}
d1

{'a': 'some value', 'b': [1, 2, 3, 4]}

In [62]:
d1[7] = "an integer"
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}

In [63]:
d1[7]

'an integer'

In [64]:
'a' in d1 #You can check if a dictionary contains

True

In [65]:
#  You can delete values using either the del keyword or the pop method 
d1[5] = "some value"
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer', 5: 'some value'}

In [66]:
d1['name'] = "seema"
d1

{'a': 'some value',
 'b': [1, 2, 3, 4],
 7: 'an integer',
 5: 'some value',
 'name': 'seema'}

In [67]:
del d1["a"]
d1

{'b': [1, 2, 3, 4], 7: 'an integer', 5: 'some value', 'name': 'seema'}

In [72]:
ret=d1.pop("b")
ret

[1, 2, 3, 4]

In [73]:
d1

{7: 'an integer', 5: 'some value', 'name': 'seema'}

In [86]:
d1[7] = "Integer"

In [87]:
d1

{7: 'Integer', 5: 'some value', 'name': 'seema', 'a': 'Integer'}

In [89]:
d1.keys()

dict_keys([7, 5, 'name', 'a'])

In [90]:
d1.items()

dict_items([(7, 'Integer'), (5, 'some value'), ('name', 'seema'), ('a', 'Integer')])

# Copy() Methods

In [1]:
person ={"name": "Ram", "Age": "23", "gender": "male"}
person2 = person
person2

{'name': 'Ram', 'Age': '23', 'gender': 'male'}

# Sorted() Method

In [4]:
dict(sorted(person.items(), key =lambda item: item[0], reverse= False))

{'Age': '23', 'gender': 'male', 'name': 'Ram'}

# Merging two dict

In [5]:
person ={"name":"seema","age":22,"city":"kathmandu","gender":"female"}
address ={"city":"pokhara", "worda": 6,"pincode":223}

In [6]:
person | address

{'name': 'seema',
 'age': 22,
 'city': 'pokhara',
 'gender': 'female',
 'worda': 6,
 'pincode': 223}

In [7]:
address|person

{'city': 'kathmandu',
 'worda': 6,
 'pincode': 223,
 'name': 'seema',
 'age': 22,
 'gender': 'female'}

In [10]:
Z = {**address, **person}
Z

{'city': 'kathmandu',
 'worda': 6,
 'pincode': 223,
 'name': 'seema',
 'age': 22,
 'gender': 'female'}

# Python Set Type

Python Set Type
A set is an unordered collection of unique elements in Python. Sets are mutable, meaning their contents can be changed after they are created. Sets are created using curly braces `{}` or the `set()` constructor.

# Creating a Set
To create a set, you can use curly braces `{}` with comma-separated values inside or the `set()` constructor with a list as an argument. Here are some examples:

In [11]:
my_set = {4,5,6,7,1,1,4.1}
my_set

{1, 4, 4.1, 5, 6, 7}

# set operation

Sets in Python support a variety of operations, including union, intersection, difference, and symmetric difference. Here are some examples:

In [12]:
a = {1,2,3,4}
b = {5,6,3,4}

In [13]:
unionset = a.union(b)
unionset

{1, 2, 3, 4, 5, 6}

In [14]:
set2 = a.intersection(b)
set2

{3, 4}

In [15]:
a.isdisjoint(b)

False

In [16]:
a.difference(b)

{1, 2}

In [19]:
 set4=a.symmetric_difference(b)
set4

{1, 2, 5, 6}

In [20]:
set4.remove(1)
set4

{2, 5, 6}

In [22]:
set4.pop()

2

In [23]:
set4

{5, 6}

In [24]:
set4.add(2)
set4

{2, 5, 6}

In [26]:
set4.discard(2)
set4

{5, 6}

# Python Bollesn Type
In Python, the boolean type is a built-in data type that has two possible values: `True` and `False`. Booleans are used to represent the truth values of logical expressions, and they are often used in conditional statements to control the flow of a program.

You can create boolean values using the literals `True and False`, or by using expressions that evaluate to boolean values.

# Example

In [29]:
a = 5
b = 10
c =a>b
d = a<b
s = "ram".startswith("r")

In [30]:
type(c)

bool

In [31]:
d

True

In [32]:
s

True

In [33]:
c

False

Boolean values can be combined using logical operators. The most common logical operators are:

* and: returns True if both operands are True, otherwise False.
* or: returns True if either operand is True, otherwise False.
* not: negates the value of the operand

# Example

In [34]:
x = True
y = False

In [35]:
x and y

False

In [37]:
x or x

True

In [38]:
not x

False

In Python, any non-zero number, non-empty string, non-empty list, non-empty tuple, non-empty dictionary, or non-None object is considered `True`. Zero, empty strings, empty lists, empty tuples, empty dictionaries, and None are considered `False`.

In [39]:
x = 555.5
y = 0.00

In [41]:
bool(x)

True

In [42]:
bool(y)

False

In [43]:
bool([1,2])

True

In [45]:
name =""
bool(name)

False

In [46]:
lst = [1,2,3] # True
empty_lst= [] # False

dct = {"a":1, "b": 6} # true
empty_dct = {} # False

obj = object() 
non_obj = None

In [49]:
print(bool(obj))
bool(non_obj)

True

False

# Python Binary Type

In Python, binary data is represented using the `bytes` and `bytearray` types.

A `bytes` object is an immutable sequence of `bytes`, while a `bytearray` object is a mutable sequence of bytes.

You can create `bytes` and `bytearray` objects using the built-in `bytes()` and `bytearray()` functions, passing them either a string of binary data or a list of integers representing the binary data.

# Example

In [54]:
b = b'\x00\x01\x02\x03\x04\x05'

b1 = bytes([0,1,2,3,4,5])

In [55]:
type(b)

bytes

In [56]:
type(b1)

bytes

It's important to use the correct character encoding when converting between bytes and strings. If the wrong encoding is used, the resulting string may not be the same as the original string.

Here's an example of using the wrong encoding:

In [57]:
s ="résumé"
b = s.encode('ascii')
print(b)

UnicodeEncodeError: 'ascii' codec can't encode character '\xe9' in position 1: ordinal not in range(128)

In [58]:
s ="résumé"
b = s.encode('utf-8')
print(b)

b'r\xc3\xa9sum\xc3\xa9'