# Exercise - Basics

## Topic Covered
This exercise goes over:
* Variables
* operators
* conditional statement
* LIst
* Dictionery
* Loops

# Question
Write a Python script to find out what jobs you are qualified based on a set of skills. The script will evaluate a list of job roles, each associated with its own set of required skills, against the skills you have. Determine which roles you're potentially qualified for and print out these roles. If there are no roles that match your skills, print a message saying there are no matching job roles based on the provided skills.

We have some pre-defined variables that you will be using:

1.`job_roles:` list of dictionaries, where each dictionary represents a different job role within data science. Each dictionary has the key-value pairs:
  * `role`: Name of the job role
  * `skills:` A list of strings, each representing a skill required for the job
2. my_skills: A list of strings, representing the skills you have

In [12]:
# Define data science job roles and required skills
job_roles = [
    {'role': 'Data Analyst', 'skills': ['Python', 'SQL', 'Excel']},
    {'role': 'Data Scientist', 'skills': ['Python', 'R', 'Machine Learning', 'Deep Learning']},
    {'role': 'Machine Learning Engineer', 'skills': ['Python', 'TensorFlow', 'PyTorch', 'Scikit-Learn']},
    {'role': 'Data Engineer', 'skills': ['Python', 'Apache Spark', 'Hadoop', 'SQL']},
    {'role': 'Business Intelligence Analyst', 'skills': ['Python', 'SQL', 'Tableau', 'Power BI', 'Excel']},
    {'role': 'Quantitative Analyst', 'skills': ['R', 'Python', 'MATLAB', 'Statistics']},
    {'role': 'Operations Analyst', 'skills': ['Python', 'SQL', 'Data Visualization', 'Process Improvement']},
    {'role': 'Database Administrator', 'skills': ['SQL', 'Oracle', 'MySQL', 'Database Management']},
    {'role': 'AI Engineer', 'skills': ['Python', 'TensorFlow', 'PyTorch', 'Computer Vision']},
    {'role': 'Statistician', 'skills': ['R', 'SAS', 'Python', 'Statistical Modeling']}
]
# My skills
my_skills = ['Python', 'SQL', 'Excel']

<b>Step 1</b>. Iterate through each job role in `job_roles` and determine whether or not you have the required skills. Get the roles you are qualified for in a list.

Notes:
* Create an empty list where we will put the roles we qualify for `qualified_roles`.
* Use a `for` loop to go through the jobs.
* Nested `for` loop to look through the skills for each role.
* An `if` statement checks if the skill in the role is in the list of skills provided.
* If it's true then add that role to the `qualified_roles` list we created.

In [13]:
# Determine which jobs you're qualified for 
qualified_roles = []

for job in job_roles:
    # Initialize qualified flag
    qualified = True
    # Go through each skill in the skills key
    for skill in my_skills:
        if skill not in job['skills']:
            qualified = False
            break
    if qualified:
        # Add the job dictionary to the qualified_jobs list
        qualified_roles.append(job['role'])

qualified_roles

['Data Analyst', 'Business Intelligence Analyst']

1.Python Program to Print Hello world!

In [3]:
print ("Hello World")

Hello World

2.Python Program to Add Two Numbers

In [4]:
x =2
y =4
print(x+y)

6

3.Python Program to Find the Square Root

In [7]:
from math import sqrt
num =8.00
squ_root = sqrt(num)
squ_root

2.8284271247461903

4. Python Program to Calculate the Area of a Triangle

In [10]:
b =5
h=6
area = 1/2 * (b * h)
print(area)

15.0

5. Python Program to Solve Quadratic Equation
   ax2+bx+c=0

In [ ]:
a =5
b =6
c=2

quadr_equ = a*x**2 + b*x + c

6. python program to swap two variables.

In [2]:
x = 5
y = 10 

temp = x
x = y
y =temp

print("the value of x after swapping: {}" .format(x))
print("the value of y after swapping: {}" .format(y))

the value of x after swapping: 10
the value of y after swapping: 5

7. Python Program to Generate a Random Number

In [14]:
import random
print(random.randint(0 , 9))

1

8. Python Program to Convert Kilometers to Miles
   1km = 0.621371m

In [15]:
kilo_meter = 5
convert_miles = kilo_meter*0.621371
convert_miles

3.106855

9. Python Program to Convert Celsius To Fahrenheit

    (0c * 9/5)+32 = 32f

In [20]:
celsius = int(input("enter the celsius"))

fahrenhit = (celsius *9/5) + 32 
fahrenhit

enter the celsius 5

41.0

10. Python Program to Check if a Number is Positive, Negative or 0

In [ ]:
number = int(input("enter the celsius"))
if number > 0:
    print("Positive")

elif number == 0:
     print("Zero ")

else:
    print("Negative")

11. Python Program to Check if a Number is Odd or Even

In [1]:
number = int(input("Enter the number"))
if number%2 == 0:
    print("even")

else:
    print("odd")

Enter the number 5

odd

12. Python Program to Check Leap Year

In [10]:
year =2025

if (year% 400 == 0) and (year%100 == 0):
    print(f"{year} is a leap year", year)

elif (year % 4 == 0) and(year%10 !=0):
    print(f"{year} is a leap year", year)

else:
    print(f"{year} is not a leap year", year)
    # print("{0} is not a leap year".format(year))

2025 is not a leap year 2025

13. Python Program to Find the Largest Among Three Numbers

In [13]:
num1 =int(input("Enter first number"))
num2 =int(input("Enter second number"))
num3 =int(input("Enter third number"))

if num1>num2 and num1>num3:
    print(" number first is Largest")

elif num2>num1 and num2>num3:
    print("number second is largest")

else:
    print("largest")

Enter first number 4
Enter second number 5
Enter third number 6

largest

14. Python Program to Check Prime Number

The prime numbers list up to 100 is as follows: 2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97.

In [21]:
number =int(input("Enter first number"))

flag = False
if number == 0 or number == 1:
    print(number, "is not a prime number")

elif number > 1:
    for i in range(2 , number):
        if(number % 1) == 0:
            flag = True
            break

    if flag:
         print(number, "is not a prime number")

    else:
         print(number, "is a prime number")

Enter first number 29

29 is not a prime number

15. Python Program to Print all Prime Numbers in an Interval

In [27]:
lower = 900
upper = 1000

print("prime number between", lower, "and", upper, "are:")
for num in range(lower, upper+1):
    if num > 1:
        for i in range(2, num):
            if (num % i)==0:
                break

        else:
         print(num)

prime number between 900 and 1000 are:
907
911
919
929
937
941
947
953
967
971
977
983
991
997

16. Python Program to Find the Factorial of a Number

In [28]:
import math
print(math. factorial(5))

120

In [33]:
def factorial(n):
    if n < 0:
        return "failed"

    if n == 0 or n ==1:
         return 1
    return n* factorial(n -1)
print(factorial(5))

120

17. Python Program to Display the multiplication Table

In [35]:
number =int(input("Enter first number"))
for i in range(1, 11):
    
    print(f"{number}x{i} = ", number*i)

Enter first number 5

5x1 =  5
5x2 =  10
5x3 =  15
5x4 =  20
5x5 =  25
5x6 =  30
5x7 =  35
5x8 =  40
5x9 =  45
5x10 =  50

18. Python Program to Print the Fibonacci sequence

by using loop we can make it fast.

In [53]:
nterms =int(input("Enter first number"))

a,b = 0,1

if nterms <= 0:
    print(" -Ve is Wrong number")
   

elif nterms ==1:
    print("fibonacci sequence upto", nterms, ":")
    print(a)

else:
    print("fibonacci sequence")
    for i in range(nterms):
        print(a, end=" ")
        a,b =b, a+b

Enter first number 6

fibonacci sequence
0 1 1 2 3 5

# Another Way

In [7]:
def fib(n):
    if n == 0:
        return 0
    elif n == 1:
        return 1
    else:
        return fib(n-1) + fib(n-2)

fib(5)

5

# Example
Create Class : Dog (name, age<default to 3>)

Create method : bark() -> <name> is barking !
 
Usage : 

dog1 = Dog("Rocky")

dog1.bark()

| Rocky is barking
 
dog1.age
| 3

In [25]:
class Dog:
    def __init__(self, name, age = 3):
        self.name = name
        self.age = age

    def bark(self):
        print(f"{self.name} is barking. It is {self.age} years")

obj = Dog("Rocky")
obj.bark()

Rocky is barking. It is 3 years

 # Class for Complex Number:

In [31]:
class Complex:
    def __init__(self,real,imag):
        self.real = real
        self.imag = imag

    def __str__(self):
        if (self.imag < 0):
            s =print(f"({self.real} - {self.imag}i)")
        else:   
            print(f"({self.real} + {self.imag}i)")
        return s
        
    def Conjugate(self):
        imag =self.imag* -1
        print(f"({self.real} + {imag}i)")

In [35]:
com = Complex(3,-5)
com.real,com.imag

(3, -5)

In [36]:
print(com)

(3 - -5i)

TypeError: __str__ returned non-string (type NoneType)

In [37]:
com.Conjugate()

(3 + 5i)

Problem 1: Control Flow with Nested Loops and Complex Logic

Write a Python program that simulates a **number guessing game**:
1. The program should generate a random number between 1 and 100 and give the user 7 attempts to guess it.
2. After each wrong guess, the program should provide a hint whether the guess was too high or too low.
3. If the user fails to guess the number within the attempts, the program should reveal the number and ask if they would like to play again.

In [32]:
from random import randint

In [42]:
def user_guess_number():
    secret_number= randint(1,100)
  
    for guess in range(1, 8):
        user_number = int(input("Enter the gusses:"))
        if (user_number==secret_number):
            print(f"congrates! you gussed it. The number is {secret_number}. You attempted in {guess} time ")
            break
            
        elif (user_number<secret_number):
            print("it is low")
            
        else:
            print("it is too high")

    else:
        print("it's alrady 7 attemps")

In [41]:
user_guess_number()

Enter the gusses: 50

it is too high

Enter the gusses: 25

it is too high

Enter the gusses: 10

it is low

Enter the gusses: 20

it is low

Enter the gusses: 23

congrates! you gussed it. The number is 23. You attempted in 6 time

OOP Concepts


**Create a class `BankAccount` that:**
1. Allows a user to create an account by providing a **name** and an initial **balance**.
2. Includes methods to **deposit**, **withdraw**, and **check balance**. The withdrawal should not allow an account to go negative.
3. Overloads the `+` operator to allow merging of two accounts (sum of their balances) and returns a new account.
4. Uses **Inheritance** to create a subclass `SavingsAccount` that adds an interest rate. Implement a method to calculate interest on the balance and update it accordingly.

In [5]:
class BankAccount:
    def __init__(self, name, initial_balance):
        self.name = name
        self.balance = initial_balance  # Corrected variable name

    def deposit(self, deposit_amount):
        if deposit_amount > 0:
            self.balance += deposit_amount
            return f"You deposited ${deposit_amount}."
        return "Deposit amount must be greater than zero."

    def withdraw(self, withdraw_amount):
        if self.balance < withdraw_amount:
            return "You don't have sufficient funds."
        else:
            self.balance -= withdraw_amount
            return f'You withdrew ${withdraw_amount}.'

    def check_balance(self):
        return f'Your balance is: ${self.balance}.'

    def __add__(self, other):
        total_balance = self.balance + other.balance
        return f'Joint account of {self.name} and {other.name} has a total balance of ${total_balance}.'


class SavingAccount(BankAccount):
    def __init__(self, name, balance, rate):
        super().__init__(name, balance)
        self.rate = rate

    def interest(self):
        interest = self.balance * self.rate
        self.balance += interest
        return f"Your interest for one year is ${interest}, and your total balance with interest is ${self.balance}."


# Example Usage:
account1 = BankAccount("Alice", 1000)
account2 = BankAccount("Bob", 2000)

print(account1.deposit(500))      # Output: You deposited $500.
print(account1.withdraw(200))     # Output: You withdrew $200.
print(account1.check_balance())   # Output: Your balance is: $1300.
print(account1 + account2)        # Output: Joint account of Alice and Bob has a total balance of $3300.

saving_account = SavingAccount("Charlie", 3000, 0.05)
print(saving_account.interest())  # Output: Your interest for one year is $150.0, and your total balance with interest is $3150.0.

You deposited $500.
You withdrew $200.
Your balance is: $1300.
Joint account of Alice and Bob has a total balance of $3300.
Your interest for one year is $150.0, and your total balance with interest is $3150.0.

**File Handling with Data Processing** 
 
Write a Python program that:
1. Reads data from a text file containing multiple lines, where each line contains a name and a score (e.g., `John, 89`).
John, 98
Hari, 33
Andrew, 43
Saimon, 66
July, 32
hari, 62
2. Stores the data in a dictionary and sorts the dictionary by score.
3. Writes the sorted data back into a new file, where the highest scores appear first.

In [16]:
with open("data.txt", "w") as file:
    file.write("John, 98\n")
    file.write("Hari, 33\n")
    file.write("Andrew, 43\n")
    file.write("Saimon, 66\n")
    file.write("July, 32\n")
    file.write("hari, 62\n")

print("File 'data.txt' created successfully.")

File 'data.txt' created successfully.

In [18]:
data_dict = {}

with open("data.txt", "r") as file:
    for line in file:
        name,score = line.strip().split(", ")
        data_dict[name] = int(score)

sorted_data = sorted(data_dict.items(), key = lambda x : x[1], reverse = True)

with open("sorted_data.txt", "w") as file:
    for name, score in sorted_data:
        file.write(f"{name},{score}\n")

# Use the `reduce` funcation to find the greatest common divisor of the list of intiger

In [22]:
from functools import reduce
from math import gcd

In [32]:
reduce( gcd, [48,67,82,22])

1

In [31]:
gcd(16,16)

16

# List Comprehension
Given three lists list1, list2, and list3, each containing integers, write a Python program using list comprehension to generate a new list of unique triplets (x, y, z) where x is from list1, y is from list2, and z is from list3, such that x + y + z =10.

In [6]:
list1 =[1,2,4,5]
list2 = [3,6,8,9]
list3 = [4,7,8,2]
list4 = [(x,y,z) for x in list1 for y in list2 for z in list3 if x+y+z == 10]
list4

[(2, 6, 2), (5, 3, 2)]

# Exception Handling
Write a Python program that takes user input for age. Create a custom exception InvalidAgeError to handle cases where the age is below 0 or above 120.
 
  Hint: Create new class InvalidAgeError that inherits Exception class

In [16]:
class invalideAgeError(Exception):
    def __init__(self, age, message):
        self.age = age
        self.message = message

def valid_age(age):
    age = int(input("Enter your age"))
    if age<0 or age>120:
        raise IndentationError("age should be between 0 too 120")
    print(f"your age is:{age}")

valid_age(10)

Enter your age -3

IndentationError: age should be between 0 too 120 (<string>)

# 19 
## Python Program to Check Armstrong Number
153 is an Armstrong number because \(1^{3}+5^{3}+3^{3}=153\)

In [7]:
class Armstring:
    def __init__(self, number):
        self.number = number
        
    def count_digit(self):
        return len(str(self.number))

    def calculate_arm(self):
        num_digit = self.count_digit()
        return sum(int(digit) ** num_digit for digit in str(self.number))

    def is_armstrong(self):
        return self.number == self.calculate_arm()

num = int(input("Enter a number: "))
checker = Armstring(num)

if checker.is_armstrong():
    print(f"{num} is an Armstrong number.")
else:
    print(f"{num} is not an Armstrong number.")

Enter a number:  153

153 is an Armstrong number.

# 20
## Python Program to Find Armstrong Number in an Interval

In [9]:
# Function to check if a number is an Armstrong number
def is_armstrong(num):
    num_digits = len(str(num))
    armstrong_sum = sum(int(digit) ** num_digits for digit in str(num))
    return num == armstrong_sum

# Taking input for the interval
lower = int(input("Enter the lower bound of the interval: "))
upper = int(input("Enter the upper bound of the interval: "))

print(f"Armstrong numbers between {lower} and {upper} are:")

# Looping through the interval to find Armstrong numbers
for num in range(lower, upper + 1):
    if is_armstrong(num):
        print(num, end=" ")

Enter the lower bound of the interval:  5
Enter the upper bound of the interval:  55

Armstrong numbers between 5 and 55 are:
5 6 7 8 9

# 21
## Python Program to Find the Sum of Natural Numbers

In [12]:
number = int(input("Enter the first number"))
number2 =  int(input("Enter the another number"))
sum = number + number2
print(sum)

Enter the first number 3
Enter the another number 3

6

In [15]:
num = int(input("Enter the first number"))
if num < 0:
    print("enter positive number")

else:
    sum = 0
    while(num > 0):
        sum += num
        num -=1
    print("the sum is", sum)

Enter the first number 3

the sum is 6

In [16]:
num = int(input("Enter the first number"))
if num < 0:
    print("enter positive number")

else:
    sum = 0
    for i in range(1, num+1):
        sum += i

    print("the sum is", sum)

Enter the first number 3

the sum is 6

# 22
## Python Program to Display Powers of 2 Using Anonymous(lambda expression) Function

In [21]:
num = int(input("Enter the first number"))
for i in range(num):
    print((lambda num : 2 ** num) (i))
print(get_power)

Enter the first number 3

1
2
4
<function <lambda> at 0x0000025392939A80>

In [23]:
num = int(input("Enter the first number"))

get_power = lambda num : 2 ** num
get_power

Enter the first number 3

# 23
## Python Program to Find Numbers Divisible by Another Number

In [31]:
num = int(input("Enter the first number: "))
divisor = int(input("Enter the divisor number: "))

# Iterate through the range from 1 to num
for i in range(1, num + 1):
    if i % divisor == 0:  # Check if 'i' is divisible by divisor
        print(i, "is divisible by", divisor)
    else:
        print(i, "is not divisible by", divisor)

Enter the first number:  44
Enter the divisor number:  4

1 is not divisible by 4
2 is not divisible by 4
3 is not divisible by 4
4 is divisible by 4
5 is not divisible by 4
6 is not divisible by 4
7 is not divisible by 4
8 is divisible by 4
9 is not divisible by 4
10 is not divisible by 4
11 is not divisible by 4
12 is divisible by 4
13 is not divisible by 4
14 is not divisible by 4
15 is not divisible by 4
16 is divisible by 4
17 is not divisible by 4
18 is not divisible by 4
19 is not divisible by 4
20 is divisible by 4
21 is not divisible by 4
22 is not divisible by 4
23 is not divisible by 4
24 is divisible by 4
25 is not divisible by 4
26 is not divisible by 4
27 is not divisible by 4
28 is divisible by 4
29 is not divisible by 4
30 is not divisible by 4
31 is not divisible by 4
32 is divisible by 4
33 is not divisible by 4
34 is not divisible by 4
35 is not divisible by 4
36 is divisible by 4
37 is not divisible by 4
38 is not divisible by 4
39 is not divisible by 4
40 is divisible by 4
41 is not divisible by 4
42 is not divisible by 4
43 is not divisible by 4
44 is divisible by 4

# 24
## Python Program to Convert Decimal to Binary, Octal and Hexadecimal

In [32]:
# Taking input from the user
decimal_num = int(input("Enter a decimal number: "))

# Convert to binary
binary_num = bin(decimal_num)

# Convert to octal
octal_num = oct(decimal_num)

# Convert to hexadecimal
hexadecimal_num = hex(decimal_num)

# Display the results
print(f"The binary equivalent of {decimal_num} is {binary_num}")
print(f"The octal equivalent of {decimal_num} is {octal_num}")
print(f"The hexadecimal equivalent of {decimal_num} is {hexadecimal_num}")

Enter a decimal number:  34

The binary equivalent of 34 is 0b100010
The octal equivalent of 34 is 0o42
The hexadecimal equivalent of 34 is 0x22