# Function
## What is a Function
### Notes
* A function is a block of code that only runs when it's called.
* You can pass data (called parameters) into a function.
* The function can return data as a result.

# Importance

Enable us to resuse the code and make it more modular, important for complex data analysis and plotting routines.

In [1]:
print("print is a special type of python function")

print is a special type of python function

In [16]:
print("print", "world", sep="_")

print_world

In [18]:
print("print", "world", sep="_", end=",")
print("welcome", end=",")

print_world,welcome,

In [ ]:
print("")

In [13]:
x =5
y = x+5
print("the value of y is:", y)

the value of y is: 10

# type()

In [19]:
type(True)

bool

In [20]:
type(1_000_00)

int

In [21]:
type(2.56)

float

# input()

In [22]:
name = input("what is your name")
print("my name is", name)

what is your name seema

my name is seema

# len()

In [23]:
len("helloworld")

10

In [26]:
len({1:"hi" , 2:"buy"})

2

# open()

# dir()

In [29]:
x = "hello"
print(dir(x))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [28]:
x.upper()

'HELLO'

# enumerate()

In [36]:
names ={'Aasha', 'bob', 'john'}
for i, name in enumerate(names, start=1):
    print(i,name, sep=" : ")

1 : Aasha
2 : bob
3 : john

In [37]:
names ={'Aasha', 'bob', 'john'}
age ={34,45,67}
for i,(name , age) in enumerate(name ,age):
    print(i,(name,age))

TypeError: 'set' object cannot be interpreted as an integer

# zip()

In [41]:
names ={'Aasha', 'bob', 'john'}
age ={34,45,67}
for name, a in zip(names, age):
    print(f"Age of {name} is {a}")

Age of Aasha is 34
Age of bob is 67
Age of john is 45

In [44]:
name = "hari"
lis1 = [2,6,8]
set1 = {"a","e","i","o","u"}
print(set1)

{'u', 'a', 'i', 'o', 'e'}

In [45]:
for n,l, s in zip(name, lis1, set1):
    print(n,l,s, sep="_")

h_2_u
a_6_a
r_8_i

In [47]:
def mult(x):
    return x * 2

# map()

In [54]:
my_list = [1,5,8,3]
map_obj = map(mult, my_list)
map_obj

In [51]:
[a for a in map_obj]

[]

# reduce()

In [55]:
from functools import reduce
reduce_obj = reduce(lambda x, y : x*y, my_list)
reduce_obj

120

In [2]:
from functools import reduce
my_list = [1,2,3,4]
my_list

[1, 2, 3, 4]

In [5]:
reduc_obj = reduce(lambda x,y : x**y , my_list)
reduc_obj

1

# filter()

In [11]:
filter_obj = filter( lambda x: x%2 == 0, range(0,20))

In [12]:
list(filter_obj)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [ ]:
myList = ["","egg","","milk"]
filter_obj = filter(lambda x: len !=

In [2]:
def my_function():
    print("What's up data nerds?")

In [4]:
my_function()

What's up data nerds?

In [13]:
large_obj =range(1,5000)

In [18]:
%time
result_list[a*2 for a in large_obj]

SyntaxError: invalid syntax (113464049.py, line 2)

In [5]:
def calculate_sum(num1,num2):
    sumation = num1 +num2
    return(sumation)

In [7]:
calculate_sum(num1=4, num2=6)

10

In [12]:
# from math import sqrt
def square(num1):
    squere_root = math.sqrt(num1)
    return (squere_root)

square(num1 = 5)

2.23606797749979

# Types of Function

| Type of Function             | Example Function              | Section            |
|------------------------------|-------------------------------|--------------------|
| Built-In functions           | `max()`                       | 1. Getting Started |
| User-defined functions       | `def my_function(): pass`     | 16. Functions      |
| Lambda functions             | `lambda x: x + 1`             | 17. Lambda         |
| Standard Library functions   | `math.sqrt()`                 | 18. Modules        |
| Third-Party Library Functions| `numpy.array()`               | 19. Library        |

Note: We won't be covering Generator, Asynchronous, or Recursive Functions as they are out of scope of Data Analytics.

# Built_in Functions

Standard within python. We've already used a few:

* print(): Display output
* type() : Checks the data type of object
* range() : generates a sequence of numbers, useful in loops
* len() : Count the numbers of elements in a data structure

Here are all the built-in functions in Python.

In [61]:
import types
print([func for func in dir(__builtins__) if isinstance(getattr(__builtins__, func), types.BuiltinFunctionType)])

['__build_class__', '__import__', 'abs', 'aiter', 'all', 'anext', 'any', 'ascii', 'bin', 'breakpoint', 'callable', 'chr', 'compile', 'delattr', 'dir', 'divmod', 'eval', 'exec', 'format', 'getattr', 'globals', 'hasattr', 'hash', 'hex', 'id', 'isinstance', 'issubclass', 'iter', 'len', 'locals', 'max', 'min', 'next', 'oct', 'open', 'ord', 'pow', 'print', 'repr', 'round', 'setattr', 'sorted', 'sum', 'vars']

Here are some that are useful for data analytics:
* `sum()`,`min()`, `max()`: Basic statical operations
* `sorted()`: sorts data

In [62]:
salary =[95000,120000,105000,90000,130000]
total_salary = sum(salary)
min_salary = min(salary)
max_salary = max(salary)
print(f"Total Salary: Rs.{total_salary}, min: Rs.{min_salary}, max: Rs.{max_salary}")

Total Salary: Rs.540000, min: Rs.90000, max: Rs.130000

In [64]:
year_experience = [3,2,6,4,7,8,5]
sorted_exp = sorted(year_experience)
print(sorted_exp)

[2, 3, 4, 5, 6, 7, 8]

# User-Defined Functions

These are created by the user with your name and syntax of choice:

# WARNING
Do not name your function the same as standard Python objects.

For example, this is a bad idea:

In [68]:
def print(input):
    return "Hello" + input
    print()

In this case the built-in `print()` function would be overridden.

### Creating a Function
#### Notes
* Use `def` to create a function
##### Example
We're going to create a function called `my_experience`. Which returns an integer that represents the years of experience I have.

In [69]:
def my_experience():
    return 5

We can also set a default value for a function like `my_function(x='default_value', not_default)`.

### Calling a Function

#### Notes
* To call a funciton, use the funciton name followed by parenthesis: `function_name()`

Error accure when we call a function is:

Forgot the () after the function name.

In [70]:
my_experience

This is the correct code ✅.

In [71]:
my_experience()

5

# Pass

## Notes
* pass is used as a placeholder within a function to indicate that the block is intentionally left empty, but may be filled in the future.
* It does nothing and is basically ignored by Python.

In [74]:
def my_exp():
    pass
    my_exp()

# Return
## Notes
* Have the function return a value or result of an expression use return.
* Exit a function at a certain point.
* It can return multiple values using a tuple, list, or dictionary.

In [75]:
def my_function(yearly_bo_Per):
    return 80000 * yearly_bo_Per

my_function(0.05)

4000.0

# Arguments
## Notes
 * Information can be passed into functions as arguments.
 * Arguments are specified after the function name, inside the parentheses.
 * You can add all the arguments you want. You need to separate them with a comma.
 * A function has to be called with the correct number of arguments. If your function has 2 arguments, you have to call the function with exactly 2 arguments.

## Parameters and Arguments
* Parameters and arguments can be used for the same thing. Information that's passed into a function.
   * Parameter is a variable listed inside the parentheses in the function definition.
   * Arugment is the value that's sent to the function when called.

  # Example # 1

In [1]:
def my_function (job_title):
    print(f'The {job_title} has an average salary of Rs30000')

my_function('Data Analyst')

The Data Analyst has an average salary of Rs30000

You can also have multiple arguments. And the arguments can be different data types.

In [3]:
def my_funcation (job_title, average_salary):
    print(f'The {job_title} has an average salary of RS {average_salary}.')

🪲 Debugging

These are intentional mistakes

This is used to demonstrate debugging.

Error: Forgot an argument.

my_function(60000)
Steps to Debug:

1. Look at the actual error, can you tell what the problem is?
2. If not, then look it up:
3. Use a chatbot like ChatGPT or Claude
4. Look it up using Google

In [4]:
my_funcation(60000)

TypeError: my_funcation() missing 1 required positional argument: 'average_salary'

In [5]:
my_funcation("data analyst")

TypeError: my_funcation() missing 1 required positional argument: 'average_salary'

In [6]:
my_funcation('Data Analyst', 40000)

The Data Analyst has an average salary of RS 40000.

## Example # 2
make a funcation to calculate the total salary

In [9]:
def calculate_salary(base_salary, bonus_rate=0.2):
    total_salary =(base_salary * (1+bonus_rate))
    return total_salary

calculate_salary(30000, 0.2)

36000.0

# Adding Keyword Argument
## Notes 
* You can send arguments with Key = value syntax
*  Then the order of the arguments does't matter.

Overriding the defult keyword argument:

In [10]:
 salary_1 = 40000
salary_2 = 0.5
calculate_salary(salary_1, salary_2)

60000.0

# Example # 3

In [15]:
def analyze_skill( skill1, salary1, skill2, salary2):
    print("Job Title and Salary ")
    print(f"-{skill1} has a  Rs.{salary1}")
    print(f"-{skill2} has a  Rs.{salary2}")
    
analyze_skill( skill1 = "data Analyst", salary1 = 40000, skill2 = "business anakyst" , salary2 = 600000)

Job Title and Salary
-data Analyst has a  Rs.40000
-business anakyst has a  Rs.600000

## Advance Concepts(Not Convered in Video)

### Arbitrary Argument(* Args)

## Notes
 * If you're not sure how many arguments will be passed into your function, add a * before the parameter name in the function definition.
 * The function will now receive a tuple of arguments.
 * Arbitrary Arguments are often called *args.

# Example
First we'll create a dictionary of job titles and their average salaries.

In [27]:
def analyze_salary (* args):
    """
         Print skills with their corresponding average salaries using positional arguments.
    
        Each argument is expected to be a tuple containing a job title or skill and its average salary.
    
        :param args: A sequence of tuples, where each tuple contains a job title or skill and its average salary.
        """
    print("job Title and salary analysis:")
    for skill_salary_pair in args:
        skill =skill_salary_pair
        salary = skill_salary_pair
        print(f"-{skill}: rs{salary}")

analyze_salary(("data Analyst", 5000),("business analyst", 30000 ),("data eng" , 5678))

job Title and salary analysis:
-('data Analyst', 5000): rs('data Analyst', 5000)
-('business analyst', 30000): rs('business analyst', 30000)
-('data eng', 5678): rs('data eng', 5678)

In [7]:
def argument(*args, **kwargs):
    for arg in args:
        print(arg, end = " ")
        
argument("ram", 1, "Hello",[1,4,5,6])

ram 1 Hello [1, 4, 5, 6]

# Arbitrary Keyword Arguments (**Kwargs)
## Notes
 * If you don't know how many keyword arguments will be passed into the function, add two asterisk `**` before the parameter name in the function definition.
 * This will have the function receive a dictionary of arguments.

# Example

In [9]:
def analyze_skill(**skills_salaries):
    print("Skill and Average salary Analysis:")
    for skill, salary in skills_salaries.items():
        print(f"-{skill}: Rs.{salary}:")

analyze_skill( data_analyst = 600000, Business_Analyst= 65000, data_engineer=90000)

Skill and Average salary Analysis:
-data_analyst: Rs.600000:
-Business_Analyst: Rs.65000:
-data_engineer: Rs.90000:

# Example

In [19]:
def argument(*args, **kwargs):
    for arg in args:
        print(arg, end = " ")
    print()
        
    print("KeyWord Args")
    print(kwargs)
        
argument("ram", 1, "Hello",[1,4,5,6],great ="hi", time ="8 am")

ram 1 Hello [1, 4, 5, 6]
KeyWord Args
{'great': 'hi', 'time': '8 am'}

# Docstring
Python docstrings are the string literals that appear right after the definition of a function, method, class, or module. 

# Example

In [20]:
def square(n):
    '''Take a number n and return the square of n.'''
    return n**2

In [21]:
square(5)

25

Write a program to define a function `poewr`

In [28]:
from math import pow
def power(base, exp=2):
    return base ** exp

print(power(6))

36

# Standard Deviation Markdown

1. Standard Deviation : $\sqrt{\frac{\sum{(X - \bar{X})}^2}{N}}$

In [29]:
from math import sqrt
def std_dev(inp_list:list )->float:
    N = len(inp_list)
    mean = sum(inp_list)/N
    summation = sum([(x-mean) ** 2 for x in inp_list])
    result = sqrt(summation/N)
    return result

std_dev([1,2,34,5,7,8,9])

10.404080832018927

# Question

Calculate Mean Error
creat a funcatiom that any number of error value and find their mean

In [40]:
def mean_error(*num):
    N = len(num)
    mean = sum(num)/N
    return mean

mean_error([1,4,5,6,7,8,3.5,6.8,5.5,7.8])

TypeError: unsupported operand type(s) for +: 'int' and 'list'

In [44]:
def mean_error(*num):
    return sum(num)/ len(num)
    

mean_error(*[1,4,5,6,7,8,3.5,6.8,5.5,7.8])

5.46

# Recursive Function
In Python, a recursive function is defined like any other function, but it includes a call to itself. 

# Structure

def recursive_function(parameters):


    if base_case_condition:


        return base_result


    else:


        return recursive_function(modified_parameters)

# Example

In [46]:
def recersive(n):
    if (n == 1):
        return 1
    else:
       return n * recersive(n-1)
recersive(5)

120