In [1]:
print("Hello Aasha!")

Hello Aasha!

print is a function 

# python Character Set
 * Letter = A to Z, a to z
 * Digits = 0-9
 * special Symbols = -, +, *, / etc.
 * Whitespace = Blank Space, tab, carriage return, newline, formfeed
 * Other characters = python can process all ASCII and Unicode characters

In [2]:
print("aasha is my name.", "I am 23 years old.")

aasha is my name. I am 23 years old.

In [4]:
print(23)

23

In [5]:
print(5+5)

10

In [6]:
print("5"+5)

TypeError: can only concatenate str (not "int") to str

# Variables
 ## A variable is a name given to a memory location in a program
 ### In Python, a variable serve as a symbolic name or label that refers to an object or value stored in the computer's memory.

In [13]:
name = "aasha" # string
age = 23
price = 22.3
age4 = age

In [14]:
print("name")

name

In [15]:
print(name)

aasha

In [16]:
print("my name is:", name)
print("my age is:", age)
print(age4)

my name is: aasha
my age is: 23
23

# Valid Identifier Rules:
* Can contain letters (A–Z, a–z), digits (0–9), and underscores (_)

    * Example: my_var, data1, user_name
* Must begin with a letter or an underscore (_)

    * Valid: _temp, name
    * Invalid: 1name (starts with a digit)

* Cannot use Python keywords or reserved words

    * Example (invalid): for, if, class, def, return, etc.

* Identifiers are case-sensitive

    * Name, name, and NAME are considered different identifiers.

* Cannot contain special characters

    * Invalid: name$, user-name, data@home

* Should not start with a digit

    * Invalid: 2value, 9_data
 
#  Best Practices (Not strict rules):
* Use meaningful names: student_name is better than sn.
* Use snake_case for variables and functions: total_price, get_data()
* Use PascalCase for class names: StudentDetails, EmployeeRecord
* Avoid using single letters like l (lowercase L) or O (capital O) as they can be confused with digits 1 and 0.


## Valid Example

In [17]:
name = "seema"
_age = 21
user13 = "admin"

# Invalid Example

In [18]:
1name = "Seema"     # Starts with digit
user-name = "admin" # Contains hyphen
for = 5             # 'for' is a reserved keyword

SyntaxError: invalid decimal literal (3738991060.py, line 1)

# Datatype:
* Integers
* String
* Float
* Boolean
* Nome

In [23]:
print(type(45))
print(type("seema"))
print(type(45.56))

print(type(True))

<class 'int'>
<class 'str'>
<class 'float'>
<class 'bool'>

# complex Number

In [24]:
j = 1.0-2.3j
j

(1-2.3j)

In [25]:
print(j.real, j.imag)

1.0 -2.3

In [26]:
# Dynamic Typing
a = 10
a = "aasha"

In [27]:
# strong Typing
a = "aasha"
a + "1"

'aasha1'

In [28]:
# List
this_list = ["apple", "cherry", "banana"]
print(this_list)

['apple', 'cherry', 'banana']